# ======================================
# PYTHON
# ======================================

__pycache__/
*.pyc
*.pyo
*.pyd

# ======================================
# VIRTUAL ENVIRONMENT
# ======================================

venv/
.env/
.venv/

# ======================================
# TRAINED MODELS
# ======================================

*.pt
*.pth
*.bin

# ======================================
# CHECKPOINTS
# ======================================

checkpoints/

# ======================================
# DATASETS (обычно слишком большие)
# ======================================

datasets/

# если хочешь хранить пример датасета
# можно оставить например
# !datasets/example.txt

# ======================================
# TOKENIZER OUTPUT
# ======================================

tokenizer/tokenizer.model
tokenizer/tokenizer.vocab

# ======================================
# JUPYTER / COLAB
# ======================================

.ipynb_checkpoints/

# ======================================
# SYSTEM FILES
# ======================================

.DS_Store
Thumbs.db

# ======================================
# TEMP FILES
# ======================================

*.log
*.tmp